<header class="h-full container darkest-bg">
	<h3 class="left accent"><%= @glossary.description %>: <%= @l1.capitalize %> <%= link_to button_tag(" ↔ "), "/glossaries/1?l1=#{@l2}" %> <%= @l2.capitalize %></h3>
	<%= form_tag("/search", method: :get) do %>
		<%= search_field_tag "search", nil, placeholder: "Enter an #{@l1.capitalize} search term" %>
		<%= hidden_field_tag "l1", "#{@l1}" %>
		<%= hidden_field_tag "id", "#{@glossary.id}"%>
		<%= submit_tag "GO" %>
	<% end %>
</header>

<main class="h-full container med-bg">

	<% chapter_list(@glossary, @l1).each do |letter| %>
			<section id="<%= letter %>" class="term-list">
				<h3> <%= letter %> </h3>
				<ol class="terms">
					<% @term_records.each do |record| %>
					
						<% if @l1 == "english" %>
							<% source_term = record.english %>
							<% translation = record.french %>
						<% elsif @l1 == "french" %> 
							<% source_term = record.french %>
							<% translation = record.english %>
						<% end %>

						<% term_char1 = source_term[0] %>
						<% if letter == "#" %>
							<% if %w[1 2 3 4 5 6 7 8 9 0].include?(term_char1) %>
								<li class="source-term"><%= source_term %></li>
								<li class="translation"><%= translation %></li>
							<% end %>
						<% elsif remove_accents(term_char1.upcase) == remove_accents(letter.upcase) %> 
							<li class="source-term"><%= source_term %></li>
							<li class="translation"><%= translation %></li>
						<% end %>
					<% end %>
				</ol>
			</section>
		<% end %>

	<nav class="chapter-nav med-bg">
	  <% chapter_list(@glossary, @l1).each do |letter| %>
	  	<a href="#<%= letter %>" onclick="hideAll(); show('<%= letter %>');"><%= letter %></a>
	  <% end %>
	</nav>
</main>

<footer class="darkest-bg h-full">
	<p>Information reproduced from <a href="http://www.irb-cisr.gc.ca" >www.irb-cisr.gc.ca</a> for non-commercial purposes in accordance with that site's <a href="http://www.irb-cisr.gc.ca/Eng/notavi/Pages/index.aspx">Terms and Conditions</a>.</p>
</footer>