<header class="h-full container darkest-bg">
	<h3 class="left accent"><%= @glossary.description %>: <%= @l1.capitalize %> <button>↔</button> <%= @l2.capitalize %></h3>
	<form action="search_results.html" class="right vcenter">
		<input type="search" id="GET-search" name="search_field" placeholder="Find a term" autofocus="true" size="35px" autocomplete="off">
		<input type="submit" value="GO">
	</form>
</header>

<main class="h-full container med-bg">

	<p><%= @term_records.to_a %><p>

	<% all_char1s = @term_records.map do |record| %> 
		<% if @l1 == "english" %>
			<% source_term = record.english %>
			<% translation = record.french %>
		<% elsif @l1 == "french" %> 
			<% source_term = record.french; %>
			<% translation = record.english %>
		<% end %>

		<% term_char1 = source_term[0] #.remove_accents %>
		<% %w[1 2 3 4 5 6 7 8 9 0].include?(term_char1) ? "#" : term_char1.upcase %>
	<% end %>
	<% chapter_list = all_char1s.uniq.sort %>

	<% chapter_list.each do |letter| %>
			<section id="<%= letter %>" class="term-list">
				<h3> <%= letter %> </h3>
				<ol class="terms">
					<% @term_records.each do |record| %>
					
						<% if @l1 == "english" %>
							<% source_term = record.english %>
							<% translation = record.french %>
						<% elsif @l1 == "french" %> 
							<% source_term = record.french; %>
							<% translation = record.english %>
						<% end %>

						<% term_char1 = source_term[0] %>
						<% if letter == "#" %>
							<% if %w[1 2 3 4 5 6 7 8 9 0].include?(term_char1) %>
								<li class="source-term"><%= source_term %></li>
								<li class="translation"><%= translation %></li>
							<% end %>
						<% elsif term_char1.upcase == letter.upcase #.remove_accents ON BOTH %>
							<li class="source-term"><%= source_term %></li>
							<li class="translation"><%= translation %></li>
						<% end %>
					<% end %>
				</ol>
			</section>
		<% end %>

	<nav class="chapter-nav med-bg">
	  <% chapter_list.each do |letter| %>
	  	<a href="#<%= letter %>" onclick="hideAll(); show('<%= letter %>');"><%= letter %></a>
	  <% end %>
	</nav>
</main>

<footer class="darkest-bg h-full">
	<p>Information reproduced from <a href="http://www.irb-cisr.gc.ca" >www.irb-cisr.gc.ca</a> for non-commercial purposes in accordance with that site's <a href="http://www.irb-cisr.gc.ca/Eng/notavi/Pages/index.aspx">Terms and Conditions</a>.  Icons from <a href="http://glyphicons.com/">glyphicons.com</a></p>
</footer>