<%= render "header" -%>

	<% @presenter.data.each do |letter, term_records| %>
		<section id="<%= letter %>" class="term-list">
			<h3> <%= letter %> </h3>
			<ol class="terms">
				<% term_records.each do |source_term, translation| %>
					<div class = "record container">
						<li class="source-term"><%= source_term %></li>
						<li class="translation"><%= translation %></li>
					</div>
				<% end %>
			</ol>
		</section>
	<% end %>

	<nav class="chapter-nav med-bg">
		<div class="chapter-nav-wrapper">
		  <% @presenter.data.each_key do |letter| %>
		  	<a href="#<%= letter %>" onclick="hideAll(); show('<%= letter %>');"><%= letter %></a>
		  <% end %>
		</div>
	</nav>

<%= render "footer" %>